nav a:nth-child(3){
    border-bottom: 2px solid #11100d;
}

h1{
    text-align: center;
    padding: 1em;
}

h3{
    margin: 0 auto;
    text-align: center;
}

.posts{
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1em;
}

   

.posts a{
    flex: 0 0 30%;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: initial;
}

.posts a:hover{
    cursor: pointer;
    font-size: 1.1em;
}
