table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 2em auto;
    color: white;
    width: 1000px;
}

td{
    padding: 0.5em;
}

th{
    padding: 1em;
    background-color: rgb(15, 79, 79);
}

table{
    max-width: 70%;
}

.quarter{
    background-color: #033a4e;

}

td:not(.quarter){
    background-color: rgb(12, 58, 42);

}


