*{
    color: #0f0903;
}

nav a:nth-child(4) {
    border-bottom: 2px solid #11100d;
}

.intro {
    width: 60%;
    margin: 1em auto;
}

.intro h1 {
    text-align: center;
    padding: 1em 1em 0.3em 1em;
}

.intro p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 0.9em;
}

.questions {
    margin: 1em auto;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.accordion {

    outline: 2px solid black;
    margin: 0.5em auto;
    color: #0f0903;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    background-color: #b7c89f;
    text-align: center;
    font-size: 1em;
    border-radius: 0.3em;
}

.accordion:hover {
    background-color: #909f7b;
    border-radius: 0.3em;
}

.panel {    
    border-radius: 1em;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #c2dd9c;

}

.contact {
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 0.3em;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact i {
    padding: 0.7em;
}

.contact-info {
    margin: 0 auto;
}

.content {
    background-color: #9eaf9b;
    transition: all 0.3s ease-in-out;
    margin-top: 0.5em;
    padding: 2em;
    display: none;
    overflow: hidden;
    text-align: left;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}
