@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font: 20px/1.5 Lato, sans-serif;
    background-color: #f5e9e0;
    color: #11100d;
}

header > a{
    font-size: 2em;
    color: #0f0903;
    align-self: center;
    text-decoration: none;
    position: absolute;
    padding-left: 2em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}


nav{
    position: relative;
    margin: 0 auto;
    display: flex;
    max-width: 30%; 
    text-align: center;
    color: #0f0903;
    transition: all 0.3 ease-in-out;
}


/*

<!--Demo-->
 reactive header
.nav-scrolled{
    margin: 0 auto;
}

.nav-a-scrolled{
    padding: 0.2em;
    margin: 0.2em;
}

*/

nav a{
    font-weight: bold;
    color: #11100d;
    text-decoration: none;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}

nav a:hover{
    color:#938a78;
    transition: background-color 0.3s ease-in-out;
}




header {
    display: flex;
    background-color: transparent;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    transition: height 0.3s ease-in-out;
}



.text-container h1{
    padding: 0.4em;
}
footer {
    
    color: #11100d;
    background-color: #f5e9e0;
    text-align: center;
    padding: 1em;
}

footer p {
    font-size: 0.9rem;
}

footer a {
    color: #11100d;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 800px) {
    nav{
        display: flex;
        flex-wrap: wrap;
        float: left;
    }
    header{
        width: 500px;
        display: block;
        background: transparent;
    }
}