*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nerko One",cursive ;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background-color: #5a5454;
    color: white;
}


nav{
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
    margin: 1em auto;   
    text-align: center;
    justify-content:center;
    color: #000000;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 0.7em;
    margin: 0.5em;
    border-radius: 4em;
    background: #eee;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}

nav a:hover{
    color:white
}

nav a:nth-child(1):hover{
    background-color: #543050;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
}
nav a:nth-child(2):hover{
    background-color: #002837;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
}
nav a:nth-child(3):hover{
    background-color: #CF467F;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
}
nav a:nth-child(4):hover{
    background-color: #61766E;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
}

header {
    display: flex;
    background-color: #333;
}


.text-container h1{
    padding: 0.4em;
}

main h1{
    width: 30%;
    margin: 0 auto;
}

.intro{
    text-align: center;
    margin: 1em auto;
    margin-top: 3em;
    padding: 1em;
    width: 50%;
    color: #000000;
    font-weight: bold;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 4em auto;
    height: fit-content;
}
#sidebar {
    background-color: rgb(50, 47, 47);
    padding: 20px;
    color: #ecf0f1;
    width: 200px;
    transition: width 0.3s ease;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0,0.1);
    height:inherit
}
#sidebar.collapsed {
    width: 100px;
}
#hamburger {
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    width: 100%;
}
button {
    background-color: white;
    border: none;
    color: #2c3e50;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    width: 9em;
    white-space: nowrap;
}

button p{
    font-weight: bold;
}
#content {
    background-color: white;
    padding: 20px;
    color: black;
    text-align: center;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0,0.1);

}

#content img{
    width: 3%;
}
.hidden {
    display: none;
}
.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease;
}
.sidebar-content.collapsed {
    opacity: 0;
}

.section-one{
    background-color: #1d2122;
    display: flex;
    margin: 5em 1em 1em 2em;
    max-width: 80%;
}

.section-two{
    background-color: #1d2122;
    display: flex;
    margin: 1em 0em 1em 13em;
    max-width: 80%;
    
}

.section-two img{
    order:1;
}

.section-one h3{
    text-align: center;
}

.section-info{
    text-align: center;
    align-content: center;
    padding: 1em;
}

.section-info p{
    padding: 1em;
}

details{
    margin: 0 0 0 1em;
}

details summary{
    cursor: pointer;
}

details a{
    color: #333;
}

main h2{
    background-color: #333;
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 0.9rem;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}









