.intro{
    margin: 7em auto;
}

main h1{
    text-align: center;
    margin: 0 auto;
    width: 40%;
    font-size: 4em;
}

h1 p{
    margin-top: 0.5em;
    text-align: center; 
    font-size: 0.7em;
    margin-bottom: 7em;
}



.leading > p{
    margin-bottom: 3em;
}

main p{
    text-align: center;
}

.container{
    justify-content: center;
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.sec{
    text-align: center;
    width: 100%;
    transition: all 0.3s ease-in-out;
}



a{
    text-decoration: none;
    color:initial;
}

a > img{
    width: 10%;
}

#motivation,
#ict{
    display: flex;
    border:2px solid black;
    padding: 2em;
    height: 100vh;
    text-align: center;
    padding-top: 4%;
}

#motivation p{
    width: 80%;
    margin: 0 auto;
}

#motivation{
    background-color: #bac1b2;
}

#motivation h2 {
    font-size: 3em;
}

#ict{
    background-color: #9eaf9b;
    flex-direction: column;
    overflow: hidden;
}

#ict h2{
    font-size: 2em;
}

#ict p{
    width: 40%;
    margin: 0 auto ;
}

#ict img{
    margin: -3em auto;
    width: 50%;
}

.child {
    align-self: flex-end;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease-in-out;
}

.container ul{
    list-style-type: none;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}