*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font: 16px/1.5 Lato, sans-serif;
    background-image: url('../images/final+con+safos-1920w.png');
    
    padding: 2em;
}

nav{
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
    margin: 1em auto;
    text-align: center;
    justify-content: space-evenly;
    color: #000000;
}

nav a{
    color: black;
    text-decoration: none;
    font: 20px/1.5 Lato, sans-serif;
    padding: 0.7em;
    border-radius: 4em;
    background: #F5D1C3;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}

nav a:hover{
    color:white
}

nav a:nth-child(1):hover{
    background-color: #543050;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
}
nav a:nth-child(2):hover{
    background-color: #002837;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
}
nav a:nth-child(3):hover{
    background-color: #CF467F;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
}
nav a:nth-child(4):hover{
    background-color: #61766E;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
}

.quiz{
    max-width: 1000px;
    margin: 1em auto;
    border: 2px solid #ccc;
    text-align: center;
    display: flex ;
    flex-direction: column;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    background-color: rgb(237, 231, 217); 
    
}

.quiz h2{
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}
.quiz h4{
    padding: 0.5em;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);

}

details{margin: 1em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0,0.1);
}

details summary{
    cursor: pointer;
}

details p+p{
    padding: 0.5em;
}

header{
    max-height: 100%;
}

.text-container{
    background-color:#E35C53;
    text-align:center;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0,0.1);
    border-radius: 1em;
    color: #000000;
}

.text-container h1{
    padding: 0.3em;
}


main{display: flex;}

h1{
    align-self: center;
}
ul{
    list-style: inside;
}

.quiz.personal-info h2{
    background-color: #FF8C42;
}

.quiz.extra-info h2{
    background-color: #1F9C63;
}

.quiz.swot h2{
    background-color: #25507D;
}

.quiz.bonus h2{
    background-color: #CF467F;
}





