



.image-container{
    border: 2px solid black;
    max-width: 80%;
    margin: 1em auto;
    height: 24em;
    object-fit: scale-down;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0,0.1);
}

div.image-container{

    background-repeat:round;
  
    background-size: contain;
    width: 100%;
  
  }

p.quote{
    text-align: center;
    font-style: italic;
}