

.content{
    display:flex;
    gap: 1em;
    flex-wrap: wrap;
    background-color: transparent;
    box-shadow: none;
}

.Strengths,.Weaknesses,.Opportunities,.Threats{
    flex: 1 0 40%;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #D1C6B2;
}